input {
    height: 35px;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    padding: 0px 10px !important;
    background-color: #EBEBEB;
}

select {
    height: 35px;
    padding: 0px 10px;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);

    option {
        background-color: rgb(245, 245, 245);
    }
}