input {
    height: 35px;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    padding: 0px 10px !important;
    background-color: #EBEBEB;
}

select {
    height: 35px;
    padding: 0px 10px;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);

    option {
        background-color: rgb(245, 245, 245);
    }
}

.check__box {
    cursor: pointer;
    align-items: center;
    align-self: flex-start;
    font-size: 15px;
    display: flex;
    margin: 16px 0px 0px;
    flex: 0 0 auto;


    input[type="checkbox"] {
        display: none;
    }

    div {
        min-width: 0px;
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        background-color: white;
        cursor: pointer;
        box-shadow: rgba(50, 50, 50, 0.4) 0px 3px 5px;
        margin: 0px;
        transition: color 0.3s ease-out 0s;
        border-radius: 4px;

    }

    .checked {
        &:after {
            content: "";
            position: absolute;
            width: 80%;
            height: 80%;
            display: block;
            border-radius: 2px;
            background-color: #9575cd;
            box-shadow: 0 2px 4px rgba(50, 50, 50, 0.2);
            cursor: pointer;
        }
    }

    span {
        color: rgb(85, 85, 85);
        font-weight: 400;
        margin: 1px 0px 0px 10px;
    }

}