.icon {
  width: 26px;
  height: 26px;
  background-color: rgb(235, 255, 243);
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(138, 158, 168, 0.12) 0px 2px 1px;
  padding: 4px;
  outline: none;
  transition: transform 0.4s ease-out 0s;
  border-radius: 100%;

  svg {
    // width: 100%;
    // height: 100%;
    transition: all 0.2s ease-out 0s;
  }
}

.max-w-min {
  max-width: min-content;
}

.max-w-max {
  max-width: max-content;
}

.max-h-min {
  max-height: min-content;
}

.max-h-max {
  max-height: max-content;
}

.h-min {
  height: min-content;
}

.h-max {
  height: max-content;
}