@use '../styles/variables' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 1000;
}

.modalContent {
  padding: 3rem 4rem;
  text-align: center;
  background-color: $white;
  border-radius: 8px;
}

.qrCodeWrapper {
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.closeButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 2rem;
  margin: 0 1rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  color: black;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  transition: all 0.4s ease-out;
  background: linear-gradient(to right, rgb(224, 224, 224), rgb(189, 189, 189));
  box-shadow: rgba(160, 160, 160, 0.5) 0px 5px 6px;

  &:hover {
    opacity: 0.9;
  }
}
