@import "../styles/base/fonts";
@import "../styles/base/reset";
@import "../styles/base/variables";
@import "../styles/base/components";

body {
  color: $black;
  background-color: $grey-white;
}

#options {
  display: flex;
  justify-content: center;
  padding: 20% 10%;
  font-size: 1.125em;

  #options__form {
    .btn-primary {
      margin: 16px 0px 0px;
      background: linear-gradient(to right, rgb(126, 87, 194), rgb(98, 0, 234));

      &:hover {
        box-shadow: rgba(66, 165, 245, 0.5) 0px 6px 15px;
        transform: translateY(-2px) scale(1.02, 1.02);
        outline: none;
      }

      .icon {
        width: 16px;
        height: 16px;
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
        margin: 0px 8px 0px 0px;
      }
    }

    div {

      .error {
        font-size: 11px;
        padding: 2px 10px;
      }

      input[type="checkbox"] {
        width: auto;
      }
    }
  }
}