@use '../styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  user-select: none;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity $transition-fast;

  &:hover {
    opacity: 0.8;
  }
}

.logo {
  width: 2rem;
  height: 2rem;
}

.actions {
  display: flex;
  gap: 0.25rem;
}

.styledIcon {
  background-color: transparent;
  box-shadow: none;
  color: $gray-400;
  transition: color $transition-fast;

  &:hover {
    color: $gray-600;
  }
}
