@use '../styles/variables' as *;

.popupBody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0;

  .icon {
    cursor: pointer;
    transition: opacity $transition-fast;

    &:hover {
      opacity: 0.7;
    }

    svg {
      stroke: $green-500;
      stroke-width: 2;
    }
  }
}

.qrIcon {
  margin: 0;
  margin-right: 0.4rem;
}

.copyIcon {
  margin: 0;
  margin-right: 0.75rem;
}

.link {
  border-bottom: 1px dotted $stats-total-underline;
  padding-bottom: 2px;
  color: $gray-700;
  min-width: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: $light;
  cursor: pointer;
  transition: color $transition-fast;

  &:hover {
    color: $blue-500;
  }
}

.errorMessage {
  padding-top: 0.25rem;
  font-size: 0.9375rem;
  font-weight: $medium;
  color: $red-500;
}

.qrCodeContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 1rem 0 0;
}
