@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";
@import "../styles/components";

body {
  color: $black;
}


#header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo__holder {
    img {
      width: 30px !important;
      height: 30px !important;
    }
  }

  .action__buttons--holder {
    display: flex;

    .icon {
      background-color: transparent;
      box-shadow: none;
      height: 35px;
      width: 35px;

      &:hover {
        opacity: 0.8;
      }
    }

    .refresh__icon {

      svg {
        stroke: rgb(187, 187, 187);
        stroke-width: 2.5;
      }
    }
  }

  .settings__icon {
    svg {
      fill: rgb(187, 187, 187);
      stroke: none;
    }
  }
}

#popup {
  min-height: 350px;
  min-width: 250px;
  font-size: 1.125em;

  .popup__form {
    padding: 15px 15px;

    h4 {
      padding: 10px 0px 5px 0px;
      font-size: 0.9em;
      font-weight: 500;
      color: #294756;
    }

    button {
      background: linear-gradient(to right, rgb(126, 87, 194), rgb(98, 0, 234));
      margin-top: 15px;
      margin-bottom: 5px;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      cursor: pointer;
    }

    .error {
      font-size: 11px;
      padding: 2px 10px;
    }
  }

  .popup__body {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0px 15px;

    p {
      padding-top: 5px;
      text-decoration: underline;
      font-size: 1.2em;
    }

    .link {
      border-bottom: 1px dotted $StatsTotalUnderline;
      font-size: 1.602em;
      cursor: pointer;
      min-width: 0px;
      padding-bottom: 2px;
      color: rgb(41, 71, 86);
      font-weight: 300;
      margin: 0px;

      &:hover {
        opacity: 0.8;
      }
    }

    .copy__icon,
    .check__icon {
      margin: 0px 16px 0px 0px;

      svg {
        stroke: rgb(101, 189, 137);
        stroke-width: 2.5;
      }
    }

    .qr__icon {
      margin: 0px 8px 0px 0px;

      svg {
        fill: rgb(89, 89, 89);
        stroke: none;
      }
    }
  }

  .qr__holder {
    display: flex;
    justify-content: center;
    padding: 17px 15px 0px 15px;
  }
}