@import '~advanced-css-reset/dist/reset.css';

// Add your custom reset rules here

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input {
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;
  cursor: text;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
}