// forked from Normalize.css, Reboot.css, Sanitize.css, and Untouched.css

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

ol,
ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

input {
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;
  cursor: text;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
}