
// Colors
$color-black:       #111111;
$color-grey-white:  #f3f3f3;
$color-white:       #ffffff;
$color-light:       #fcfcfc;
$color-blue:        #4d5be7;
$color-light-blue:  #4d5bfa;

$font-nunito: 'Nunito', sans-serif;

$font-weight-regular:   400;
$font-weight-bold:      600;

.d-none {
    display: none !important;
}

.v-none {
    visibility: hidden !important;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 3em;
}

body {
    font-family: $font-nunito;
}