@import "fonts";
@import "reset";
@import "variables";

body {
    color: $color-black;
    background-color: $color-grey-white;
}

#options {
    display: flex;
    justify-content: center;
    height: 100vh;
    .options__content--holder {
        padding-top: 4.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .head__content--holder {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            .head__content--logo {
                width: 38px;
                height: 38px;
            }
            .head__content--title {
                color: $color-black;
                font-weight: $font-weight-bold; 
                padding: 0;
                margin: 0 0 0 0.4em;
                font-size: 34px;
            }
        }
        .form__content--holder {
            margin-top: 3em;
            .form__content {
                padding: 0px 100px 40px;
                width: 600px;
                .api__key--label, .password--label {
                    font-size: 16px;
                    display: block;
                    margin-bottom: 0.8em;
                }
                .password--label, .api__key--label {
                    .password__label--optional, .api__label--Qmark {
                        cursor: default;
                        position: relative;
                        display: inline-block;
                        border-bottom: 1px dotted black;
                        &:hover .password__label--tooltiptext, &:hover .api__label--tooltiptext {
                            visibility: visible;
                            opacity: 1;
                        }
                        .password__label--tooltiptext, .api__label--tooltiptext {
                            cursor: pointer;
                            visibility: hidden;
                            font-size: 13px;
                            width: 180px;
                            line-height: 1.3;
                            letter-spacing: 1px;
                            background-color: $color-light-grey;
                            color: $color-white;
                            padding: 5px 0;
                            border-radius: 6px;
                            position: absolute;
                            z-index: 1;
                            bottom: 125%;
                            left: 50%;
                            margin-left: -90px;
                            opacity: 0;
                            transition: opacity 0.3s;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: $color-light-grey transparent transparent transparent;
                            }
                        }
                    }
                }
                .api__key--holder, .password--holder {
                    font-family: $font-nunito;
                    width: 100%;
                    border-radius: 100px;
                    background-color: $color-white;
                    border: none;
                    margin-bottom: 2em;
                    box-shadow: $color-shadow-black 0px 10px 35px;
                    color: $color-medium-grey;
                    box-sizing: border-box;
                    border-color: currentcolor currentcolor $color-border-white;
                    border-style: none none solid;
                    border-width: medium medium 4px;
                    border-image: none 100% / 1 / 0 stretch;
                    height: 54px;
                }
                .api__key--holder {
                    padding: 12px 25px 12px 25px;
                    font-size: 16px;
                }
                .password--holder {
                    font-size: 20px;
                    padding: 8px 25px 8px 25px;
                }
                .password__check--holder {
                    display: flex;
                    #password__view--checkbox {
                        margin-right: 0.5em;
                        cursor: pointer;
                    }
                }
                .saved__alert {
                    margin-top: 2em;
                    padding-left: 0.5em;
                }
                .button__submit {
                    font-family: $font-nunito;
                    font-size: 18px;
                    display: block;
                    color: $color-white;
                    width: 100%;
                    background: $color-null-black linear-gradient(to right, $color-grad-light-blue, $color-grad-dark-blue) repeat scroll 0% 0%;
                    box-shadow: $color-light-azure 0px 5px 6px;
                    border: none;
                    border-radius: 100px;
                    padding: 12px;
                    margin: 1em 0;
                    &:hover {
                        cursor: pointer;
                        background: $color-null-black linear-gradient(to right, $color-grad-dark-blue, $color-light-blue) repeat scroll 0% 0%;
                    }
                }
            }
        }
        .footer__text--holder {
            font-size: 11px;
            letter-spacing: 1px;
            .github__repo--link {
                border-bottom:  1px dotted $color-black;
                text-decoration: none;
            }
        }
    }
}