@import "fonts";
@import "reset";
@import "variables";

body {
  color: $color-black;
  background-color: $color-grey-white;
}

#options {
  display: flex;
  justify-content: center;
  height: 100vh;

  .options__content--holder {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .head__content--holder {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .head__content--logo {
        width: 38px;
        height: 38px;
      }

      .head__content--title {
        color: $color-black;
        font-weight: $bold;
        padding: 0;
        margin: 0 0 0 0.4em;
        font-size: 34px;
      }
    }

    .form__content--holder {
      margin-top: 3em;

      .form__content {
        padding: 0px 100px 40px;
        width: 600px;

        .api__key--label,
        .password--label,
        .copy--label,
        .customhost__mode--label {
          font-size: 16px;
          display: inline-block;
          margin-bottom: 0.8em;
        }

        .password--label,
        .api__key--label,
        .customhost__mode--label {
          .password__label--optional,
          .customhost__label--optional,
          .api__label--text {
            font-size: 13px;
            letter-spacing: 1px;
            cursor: default;
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;

            &:hover .password__label--tooltiptext,
            &:hover .api__label--tooltiptext,
            &:hover .customhost__label--tooltiptext {
              visibility: visible;
              opacity: 1;
            }

            .password__label--tooltiptext,
            .api__label--tooltiptext,
            .customhost__label--tooltiptext {
              cursor: pointer;
              visibility: hidden;
              font-size: 13px;
              width: 180px;
              line-height: 1.5;
              letter-spacing: 1px;
              background-color: $color-light-grey;
              color: $color-white;
              padding: 5px 0;
              border-radius: 6px;
              position: absolute;
              z-index: 1;
              bottom: 125%;
              left: 50%;
              margin-left: -90px;
              opacity: 0;
              transition: opacity 0.3s;

              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $color-light-grey transparent transparent
                  transparent;
              }
            }
          }

          .api__label--text {
            cursor: pointer;
          }
        }

        .api__key--holder,
        .password--holder,
        .customhost__mode--holder {
          font-family: $font-nunito;
          width: 100%;
          border-radius: 100px;
          background-color: $color-white;
          border: none;
          box-shadow: $color-shadow-black 0px 10px 35px;
          color: $color-medium-grey;
          box-sizing: border-box;
          border-color: currentcolor currentcolor $color-border-white;
          border-style: none none solid;
          border-width: medium medium 4px;
          border-image: none 100% / 1 / 0 stretch;
          height: 54px;
        }

        .api__key--holder {
          margin-bottom: 3em;
          padding: 12px 25px 12px 25px;
          font-size: 16px;
        }

        .password--holder,
        .customhost__mode--holder {
          font-size: 20px;
          padding: 8px 25px 8px 25px;
        }

        .view__password--eye {
          text-transform: uppercase;
          cursor: pointer;
          position: relative;
          float: right;
          margin-right: 20px;
          margin-top: -36px;
          z-index: 2;
        }

        .saved__alert {
          margin-top: 2em;
          padding-left: 0.5em;
        }

        .button__submit {
          font-family: $font-nunito;
          font-size: 18px;
          display: block;
          color: $color-white;
          width: 100%;
          background: $color-null-black
            linear-gradient(
              to right,
              $color-grad-light-blue,
              $color-grad-dark-blue
            )
            repeat scroll 0% 0%;
          box-shadow: $color-light-azure 0px 5px 6px;
          border: none;
          border-radius: 100px;
          padding: 12px;
          margin: 2em 0 1em 0;

          &:hover {
            cursor: pointer;
            background: $color-null-black
              linear-gradient(
                to right,
                $color-grad-dark-blue,
                $color-light-blue
              )
              repeat scroll 0% 0%;
          }
        }
      }
    }

    .footer__text--holder {
      font-size: 12px;
      padding-top: 20px;
      padding-bottom: 20px;
      letter-spacing: 1px;

      .github__repo--link {
        border-bottom: 1px dotted $color-black;
        text-decoration: none;
      }
    }
  }
}
