@import "variables";

body {
    color: $color-black;
}

#home {
    min-width: 210px;
    .container {
        padding: 10px;
        .navbar {
            .navbar__main {
                margin: 0;
                padding-left: 0;
                list-style-type: none;
                li {
                    display: inline-block;
                    justify-content: center;
                    align-items: center;
                }
                .logo__content--holder {
                    .main__logo {
                        width: 23px;
                        height: 23px;
                    }
                }
                .options__content-holder {
                    float: right;
                    padding: 0 10px;
                    .settings__logo {
                        width: 17px; 
                        height: 17px;
                    }
                }
                .github__content-holder {
                    float: right;
                    .github__logo {
                        width: 17px; 
                        height: 17px;
                    }
                }
            }
        }
        .content__holder {
            .url__content--holder {
                margin: 1.5em 0;
                #url__content-inner {
                    margin: 0;
                    font-size: 18px;
                    font-weight: $font-weight-bold;
                }
            }
            .buttons__content--holder {
                list-style-type: none;
                display: flex;
                justify-content: space-evenly;
                padding-left: 0;
                .copy__content--holder,
                .details__content--holder,
                .qrbtn__content--holder {
                    display: inline;
                    cursor: pointer;
                    #button__copy, #button__details, #button__qrcode {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            .qrcode__content--holder {
                #qr_code {
                    padding-top: 0.3em;
                }
            }
        }
    }
}