@use '../styles/variables' as *;

.footer {
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: $regular;
  font-size: 0.75rem;

  @media (min-width: 640px) {
    margin-top: 1.5rem;
  }

  @media (min-width: 768px) {
    margin-top: 2rem;
  }

  @media (min-width: 1024px) {
    margin-top: 2.5rem;
  }

  @media (min-width: 1280px) {
    margin-top: 4rem;
  }
}

.ratingSection {
  display: flex;
  align-items: center;
  color: $gray-800;
}

.dividerLine {
  display: block;
  width: 33.333%;
  border: 1px solid $gray-200;

  &.left {
    margin-right: 0.5rem;
  }

  &.right {
    margin-left: 0.5rem;
  }
}

.ratingLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starsContainer {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.starIcon {
  margin-right: 0.25rem;
  fill: currentColor;

  &.yellow {
    color: $yellow-500;
  }

  &.gray {
    color: $gray-400;
    margin-right: 0;
  }
}

.ratingText {
  margin-bottom: 0;
  margin-top: 0.25rem;
}

.linksSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 1rem 0;
}

.linkItem {
  padding: 0.25rem;
  cursor: pointer;

  &:hover {
    color: $gray-800;
  }

  &.narrow {
    width: 33.333%;
  }

  &.wide {
    width: 66.666%;
  }
}

.linkDivider {
  width: 1px;
  height: 1rem;
  background-color: $gray-300;
}
