// Colors
$color-black: #111111;
$color-light-black: #0f0f0f;
$color-shadow-black: rgba(50, 50, 50, 0.1);
$color-shadow-light: rgba(100, 100, 100, 0.1);
$color-null-black: rgba(0, 0, 0, 0);
$color-grey-white: #f3f3f3;
$color-white: #ffffff;
$color-light: #fcfcfc;
$color-white-less: #cccccc;
$color-border-white: #f5f5f5;
$color-less-white: #dedede;
$color-light-grey: #555;
$color-medium-grey: #444444;
$color-dark-grey: #333;
$color-light-azure: rgba(66, 165, 245, 0.5);
$color-light-blue: #4d5bfa;
$color-grad-light-blue: #42a5f5;
$color-grad-dark-blue: #2979ff;

$font-nunito: "Nunito", sans-serif;

$regular: 400;
$bold: 600;

.d-none {
  display: none !important;
}

.v-none {
  visibility: hidden !important;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 3em;
}

.mb-2 {
  margin-bottom: 2em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.py-2 {
  padding: 1em 24px;
}

.table-inner {
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(50, 50, 50, 0.2) 0px 6px 30px;
  background-color: white;
}

.selectDisable {
  user-select: none;
}

body {
  font-family: $font-nunito;
}

.icon__img {
  width: 12px;
  height: 12px;
}

/* toggle switch */
.switch {
  height: 23px;
  width: 49px;
  margin-right: 10px;
  float: right;
  position: relative;
  input {
    display: none;
    &:checked + .slider {
      background-color: $color-grad-dark-blue;
    }
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
  .slider {
    background-color: $color-white-less;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    &::before {
      height: 15px;
      width: 15px;
      background-color: $color-white;
      bottom: 4px;
      content: "";
      left: 4px;
      position: absolute;
      transition: 0.4s;
    }
  }
}

.slider.round {
  border-radius: 34px;
  &::before {
    border-radius: 50%;
  }
}
