@import "base/fonts";
@import "base/reset";
@import "base/variables";

body {
  color: $color-black;
}

#home {
  min-width: 340px;

  .container {
    padding: 10px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1;

      .main__list--holder {
        .list__button {
          display: inline-block;
          margin-right: 11px;
        }
      }
    }

    .content__holder {
      .url__content--holder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5em 0;

        .url__content--url {
          display: flex;
          align-items: center;

          #url__content-inner {
            margin: 0;
            font-size: 20px;
            line-height: 1;
            color: $color-dark-grey;
            font-weight: $bold;
            letter-spacing: 0.03em;
          }

          #copy__alert {
            position: absolute;
            margin-top: 3.6em;
            top: 0px;
            color: green;
            font-size: 11px;
          }
        }

        .buttons__content--holder {
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0 0 0 16px;

          .copy__content--holder,
          .qrbtn__content--holder {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            margin: 0 6px;
            border-radius: 100%;
            box-shadow: $color-shadow-light 0px 2px 4px;
            background-color: $color-less-white;

            #button__copy,
            #button__qrcode {
              width: 13px;
              height: 13px;
            }
          }
        }
      }
    }
  }
}
